@import "@goli/ui/globals.css";

.font-dm-sans {
  font-family: var(--font-dm-sans);
}

.font-dm-mono {
  font-family: var(--font-dm-mono);
}

.font-newsreader {
  font-family: var(--font-newsreader);
}
